<!DOCTYPE html>
<html>
<head>
    <%- include partial/common_head.ejs %>
    <%- include partial/ga_pre.ejs %>
</head>
<body>
<%- include partial/ga.ejs %>
<%- include partial/fb.ejs %>

<div class="wrap">

    <%- include partial/my_menu.ejs %>
    <div>
        <div class="error_wrap">
            <div class="error">
                <div class="ops">Oooooops!</div>
                <div class="ops_mail">문제가 지속될 경우, 메일로 문의해주세요.</div>
                <a href="mailto:news.muggle@gmail.com">문의하기</a>
            </div>
        </div>
    </div>
</div><!-- e//wrap -->

<%- include partial/footer.ejs %>

<script type="text/javascript" src="/main.bundle.js" charset="utf-8"></script>
</body>
</html>
