<!DOCTYPE html>
<html>
<head>
    <%- include partial/common_head.ejs %>
    <%- include partial/ga_pre.ejs %>
</head>
<body>
<%- include partial/ga.ejs %>
<%- include partial/fb.ejs %>

<div class="wrap">

    <%- include partial/my_menu.ejs %>
    <div class="container main">

    </div>
</div><!-- e//wrap -->

<%- include partial/footer.ejs %>

<script type="text/javascript" src="/main.bundle.js" charset="utf-8"></script>
</body>
</html>
