<!DOCTYPE html>
<html>
<head>
    <%- include partial/common_head.ejs %>
    <%- include partial/ga_pre.ejs %>
</head>
<body>
<%- include partial/ga.ejs %>
<%- include partial/fb.ejs %>

<div class="wrap">

    <%- include partial/my_menu.ejs %>

    <div class="container mypage">
        <div class="my-news-note">
            <div class="inner-box">
                <span class="user-name"><%= user.name %></span>
                <span>님의 기자 수첩</span>
            </div>
        </div><!-- e//my-news-note -->

        <%- include partial/timelines.ejs %>
    </div><!-- e//container -->

</div><!-- e//wrap -->

<%- include partial/footer.ejs %>

<script type="text/javascript" src="/main.bundle.js" charset="utf-8"></script>
</body>
</html>
