<!DOCTYPE html>
<html>
<head>
    <%- include partial/common_head.ejs %>
    <%- include partial/ga_pre.ejs %>
    <link rel="stylesheet" href="/css/timeline.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<%- include partial/ga.ejs %>
<%- include partial/fb.ejs %>

<script>
  var g_timeline = {
    timeline: <%- JSON.stringify(timeline) %>,
    items: <%- JSON.stringify(items) %>,
    lastUpdatedAt: "<%= lastUpdatedAt %>"
  }
</script>
<div class="edit">

    <%- include partial/my_menu.ejs %>

    <div class="container edit">

        <div id="cover_container">
            <div class="bg"></div>
            <div class="inner-box"></div><!-- e//inner-box -->
        </div>

        <div class="news-container">
            <ul id="news_container">

            </ul>
        </div><!-- e//news-container -->

        <div class="btn-box-save">
            <button id="timeline_cancel_btn" type="reset" class="btn-gray">취소</button>
            <button id="timeline_save_btn" type="submit" class="btn-red">저장</button>
        </div>
    </div><!-- e//container -->
</div><!-- e//wrap -->

<%- include partial/footer.ejs %>

<script src="/javascripts/libs/jquery/dist/jquery.js"></script>
<script src="/javascripts/libs/jquery-ui/ui/widget.js"></script>
<script src="/javascripts/libs/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/javascripts/libs/blueimp-file-upload/js/jquery.fileupload.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" src="/timeline-edit.bundle.js" charset="utf-8"></script>
</body>
</html>
