<!DOCTYPE html>
<html>
    <head>
        <%- include partial/common_head.ejs %>
        <%- include partial/ga_pre.ejs %>
        <link rel="stylesheet" href="/css/timeline.css">
    </head>
    <body>
        <%- include partial/ga.ejs %>
        <%- include partial/fb.ejs %>
        <% var timeline = items[0]; %>
        <div class="view">
            <div class="header">
                <a class="logo" href="/">
                    <span>muggle.news</span>
                </a>
                <div class="edit-box" style="display: none;">
                    <a href="" class="modify"><img src="/images/ico-modify@3x.png" alt=""><span>수정</span></a>
                    <a href="" class="delete"><img src="/images/ico-delete@3x.png" alt=""><span>삭제</span></a>
                    <a href="" class="summary"><img src="/images/ico-summary@3x.png" alt=""><span>요약</span></a>
                    <a href="" class="share"><img src="/images/ico-share@3x.png" alt=""><span>공유</span></a>
                </div><!-- e//login -->

                <div class="login-box">
                    <% if (me) { %>
                    <div class="log-on">
                        <a href="" class="log-in">
                            <img src="<%= me.picture && me.picture.data && me.picture.data.url %>" alt="">
                            <span><%= me.name %></span>
                        </a>
                    </div>
                    <% } else { %>
                    <a href="/users/login/facebook" class="log-in">
                        <img src="images/ico-facebook-01@3x.png" alt="">
                        <span>로그인</span>
                    </a>
                    <% } %>
                </div><!-- e//login -->
            </div><!-- e//header -->

            <div class="container view">
                <div class="bg">
                    <img src="<%= timeline.timeline_cover_img %>" alt="">
                </div>
                <div class="inner-box">
                    <div class="news-cover">
                        <h1><%= timeline.timeline_title %></h1>
                        <p class="h1_desc"><%= timeline.timeline_subtitle %></p>
                        <div class="user-infor">
                            <span class="user-profile"><img src="<%= timeline.user_profile_img %>" alt=""></span>
                            <span class="user-name"><%= timeline.user_name %></span>
                        </div><!-- e// user-infor-->
                        <div class="last-edit">
                            <p>최종수정일: <span><%= lastUpdatedAt %></span></p>
                        </div>
                        <div class="view-count">
                            <span><%= timeline.timeline_view_count %></span>
                        </div>
                    </div><!-- e//news-cover -->
                </div><!-- e//inner-box -->

                <div class="news-container">
                    <ul>
                        <% for (var i=0; i<items.length; i++) { %>
                        <% var item = items[i]; %>
                        <li>
                            <div class="section">
                                <div class="number">
                                    <p class="list-count"><%= item.order %></p>
                                    <h2><%= item.title %></h2>
                                    <div class="news-date">
                                        <span><%= item.item_date_text %></span>
                                    </div><!-- e//news-data-->
                                </div><!--number -->
                                <div class="new-conts">
                                    <%= item.content %>
                                    <% if (item.preview_title) { %>
                                    <div id="preview">
                                        <div class="preview-wrap">
                                            <a href="">
                                                <div class="thum-img"><img src="<%= item.preview_img %>" alt="이미지" /></div>
                                                <div class="title">
                                                    <p><%= item.preview_title %></p>
                                                </div>
                                                <div class="txt-area">
                                                    <p><%= item.preview_content %></p>
                                                    <span href="<%= item.preview_url %>" class="preview-link"><%= item.preview_url %></span>
                                                </div>
                                            </a>
                                        </div><!--e//inner-box -->
                                    </div><!--e//#preview -->
                                    <% } %>
                                </div><!--e//conts -->
                            </div><!--e//section -->
                        </li>
                        <% } %>
                    </ul>
                </div><!-- e//news-container -->
            </div><!-- e//container -->

        </div><!-- e//wrap -->

        <div class="fb-container">
            <%- include partial/fb_page.ejs %>
            <%- include partial/fb_ad.ejs %>
            <%- include partial/fb_comment.ejs %>
        </div>

        <%- include partial/footer.ejs %>

        <script type="text/javascript" src="/main.bundle.js" charset="utf-8"></script>
    </body>
</html>
