<!DOCTYPE html>
<html>
    <head>
        <%- include partial/common_head.ejs %>
        <%- include partial/ga_pre.ejs %>
        <link rel="stylesheet" href="/css/timeline.css">
    </head>
    <body>
        <%- include partial/ga.ejs %>
        <%- include partial/fb.ejs %>
        <div class="view">

            <%- include partial/my_menu.ejs %>

            <div class="container view">
                <div class="bg">
                    <img src="<%= timeline.timeline_cover_img %>" alt="">
                </div>
                <div class="inner-box">
                    <div class="news-cover">
                        <h1><%= timeline.timeline_title %></h1>
                        <p class="h1_desc"><%= timeline.timeline_subtitle %></p>
                        <div class="last-edit">
                            <p><span class="user-name"><%= timeline.user_name %></span>| <span><%= lastUpdatedAt %></span></p>
                        </div>
                        <div class="view-count">
                            <span><%= timeline.timeline_view_count %></span>
                        </div>
                    </div><!-- e//news-cover -->
                </div><!-- e//inner-box -->

                <div class="news-container">
                    <ul>
                        <% for (var i=0; i<items.length; i++) { %>
                        <% var item = items[i]; %>
                        <li>
                            <div class="section">
                                <div class="number">
                                    <p class="list-count"><%= item.item_order %></p>
                                    <h2><%= item.title %></h2>
                                    <div class="news-date">
                                        <% if (item.item_date_text) { %>
                                        <span><%= item.item_date_text %></span>
                                        <% } %>
                                    </div><!-- e//news-data-->
                                </div><!--number -->
                                <div class="new-conts">
                                    <p><%= item.content %></p>
                                    <% if (item.preview_title) { %>
                                    <div class="preview">
                                        <div class="preview-wrap">
                                            <a  href="<%= item.preview_url %>" target="_blank">
                                                <div class="thum-img"><img src="<%= item.preview_img %>" alt="이미지" /></div>
                                                <div class="title">
                                                    <p><%= item.preview_title %></p>
                                                </div>
                                                <div class="txt-area">
                                                    <p><%= item.preview_content %></p>
                                                    <span  class="preview-link"><%= item.preview_url %></span>
                                                </div>
                                            </a>
                                        </div><!--e//inner-box -->
                                    </div><!--e//#preview -->
                                    <% } %>
                                </div><!--e//conts -->
                            </div><!--e//section -->
                        </li>
                        <% } %>
                    </ul>
                </div><!-- e//news-container -->
                <% if (isOwner) { %>
                <div class="btn-box-save">
                    <a href="/timelines/edit/<%= timeline.id %>">
                        <button id="timeline_edit_btn" type="submit" class="btn-red">수정</button>
                    </a>
                </div>
                <% } %>
            </div><!-- e//container -->

        </div><!-- e//wrap -->

        <div class="fb-container">
            <%- include partial/fb_page.ejs %>
            <%- include partial/fb_ad.ejs %>
            <%- include partial/fb_comment.ejs %>
        </div>

        <%- include partial/footer.ejs %>

        <script type="text/javascript" src="/timeline.bundle.js" charset="utf-8"></script>
    </body>
</html>
